<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Davis </title>
		<meta charset="utf-8">

		<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
		<meta name="theme-color" content="#ffffff">

		<script src="/static/scripts/jquery.js"></script>
		<script src="/static/scripts/caret.js"></script>
		<script src="/static/scripts/main.js"></script>

		<link rel="stylesheet" href="/static/styles/style.css">
	</head>

	<body>
		<div id="intro">
			<h1>Welcome to the <span class="emph">Davis Playground</span> :)</h1>
			<h2>Scroll down to <a href="#editor"><span class="emph green">BEGIN</span><a></h2>
		</div>

		<div id="editor">
			<div>
				<pre id="user-input" class="panel" contenteditable spellcheck=false>
' Enter your program here, and press <b>Run Code</b> to see the output.
BEGIN MAINPROGRAM
	Display "Hello, world!"
END MAINPROGRAM
				</pre>
				<button type="button" onclick="run_code()">▶ Run Code</button>
			</div>

			<pre id="output" class="panel" spellcheck=false>Hello, world!</pre>
		</div>
	</body>
</html>
